@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #D8D8D8;
  background: #2A2C2F;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.bar {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #202225;
}
.bar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.bar__icon {
  cursor: pointer;
}

.dropdown {
  position: relative;
}
.dropdown:hover ul {
  background-color: #333;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-25%, 0%);
      -ms-transform: translate(-25%, 0%);
          transform: translate(-25%, 0%);
}
.dropdown ul {
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(100% + 10px);
  min-width: 200px;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: translate(-25%, 10%);
      -ms-transform: translate(-25%, 10%);
          transform: translate(-25%, 10%);
}
.dropdown ul > li:not(:last-child) {
  margin-bottom: 10px;
}
.dropdown ul li {
  padding: 10px;
}
.dropdown ul li:hover {
  background-color: #5c6b80;
}
.dropdown span {
  padding: 10px;
}
.dropdown img {
  vertical-align: middle;
  margin-left: 6px;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.dropdown div {
  color: #636363;
}

main .dropdown ul {
  top: 100%;
}

.tools {
  background-color: #313438;
  padding: 15px;
  border-bottom: 2px solid rgba(32, 34, 37, 0.75);
}
.tools__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.tools__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.main {
  font-size: 13px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__left {
  background-color: #313438;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 245px;
          flex: 0 1 245px;
}
.main__center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main__right {
  background-color: #313438;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
}

.aside-main__header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(32, 34, 37, 0.75);
}