.tree {



    // .tree__item
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    // .tree__item
    &__item {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -10px;
            top: 0;
            height: calc(100% + 10px);
            width: 1px;
            background-color: #575C66;
        }

        &::after {
            content: "";
            position: absolute;
            left: -10px;
            top: 7px;
            height: 1px;
            width: 10px;
            background-color: #575C66;
        }
    }

    &__text {
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: black;
        }
    }
}
