<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="bar">
				<div class="bar__logo">App logo</div>
				<div class="dropdown">
					<div class="dropdown__img">Welcome to AppName</div>
				</div>
				<div class="bar__icons">
					<div class="bar__icon">-</div>
					<div class="bar__icon">=</div>
					<div class="bar__icon">x</div>
				</div>
			</div>
			<div class="main-block">
				<div class="padding-block">
					<div class="open_text-block">Откройте файл проекта для загрузки с сервера</div>
					<input type="text" class="open-input" placeholder="Введите" />
				</div>
				<ul>
					<li>Файл</li>
					<li>Файл</li>
					<li>Файл</li>
				</ul>
				<button class="button_ok">ОК</button>
				<button class="button_cancel">Отмена</button>
			</div>
		</div>
	</body>
</html>
