.seldiv-decoration {
  height: 236px;
}
.input-text-decoration {
  position: relative;
  width: 121px;
  height: 21px;

  margin-left: 117px;
  padding-left: 11px;
  padding-right: 11px;


  background: #2D2F33;
  border: none;
  border-bottom: 1px solid #575C66;
  box-sizing: border-box;

  font-size: 11px;
  line-height: 13px;
  color: #D8D8D8;
}

.input-text-decoration:focus-visible {
  border-bottom: 1px solid #FF005A;
  outline: none;
}

.input-text-decoration:nth-last-child(n+2) {
  margin-bottom: 4px;
}

.seldiv-decoration {
  height: 170px;
}

.seldiv-decoration ul li {
  position: relative;
  font-size: 11px;
  line-height: 13px;
}

.seldiv-decoration ul li:nth-last-child(n+2) {
  margin-bottom: 12px;
}
