.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.active {
    background-color: #FF005A;
}

// ============ dropdown ============

.dropdown {
    position: relative;

    &:hover ul {
        background-color: #202225;
        opacity: 1;
        visibility: visible;
        transform: translate(-25%, 0%);
    }

    // .dropdown ul
    ul {
        z-index: 1;
        transition: all 0.3s ease 0s;
        top: calc(100% + 10px);
        min-width: 200px;
        background-color: #202225;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translate(-25%, 10%);

/*         &>li:not(:last-child) {
            margin-bottom: 10px;
        } */

        li {
            padding: 10px;
            transition: all 0.3s ease 0s;
        }

        li:hover {
            background-color: #FF005A;
        }
    }

    // .dropdown span
    & span {
        padding: 10px;
    }

    // .dropdown img
    &__img img {
        vertical-align: middle;
        margin-left: 6px;
        transform: scale(1.5);
    }

    div {
        color: #D8D8D8;
    }

    a {
        display: flex;
        gap: 12px;
    }

    &__text {
        color: white;
    }

    &__hover {
        position: relative;
        margin-left: -8px;
    }

    &__hover::before {
        content: "";
        position: absolute;
        left: 130%;
        top: 50%;
        width: 6px;
        height: 1px;
        background-color: #fff;
        transform: rotate(45deg);
    }

    &__hover::after {
        content: "";
        position: absolute;
        left: calc(130% + 4px);
        top: 50%;
        width: 6px;
        background-color: #fff;
        height: 1px;
        transform: rotate(-45deg);
    }
}

.dropdown-menu {
    position: relative;

    &:hover ul {
        background-color: #333;
        opacity: 1;
        visibility: visible;
        transform: translate(-25%, 0%);
    }

    // .dropdown ul
    ul {
        z-index: 1;
        transition: all 0.3s ease 0s;
        top: calc(100% + 10px);
        left: 60px;
        min-width: 200px;
        background-color: #333;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transform: translate(-25%, 10%);

        &>li:not(:last-child) {
            margin-bottom: 10px;
        }

        li {
            padding: 10px;
        }

        li:hover {
            background-color: #FF005A;
        }
    }

    // .dropdown span
    & span {
        padding: 10px;
    }

    // .dropdown img
    & img {
        vertical-align: middle;
        margin-left: 6px;
        transform: scale(1.5);
    }

    div {
        color: #636363;
    }
}

main {
    .dropdown {
        ul {
            top: 100%;
        }
    }
}

// ============ Bar ============

.bar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #202225;

    // .bar__icons
    &__icons {
        display: flex;
        gap: 20px;
    }

    // .bar__icon
    &__icon {
        cursor: pointer;
    }
}

// ============ Tools ============

.tools {
    background-color: #313438;
    padding: 0px 15px;
    border-bottom: 2px solid rgba(32, 34, 37, 0.75);

    // .tools__items
    &__items {
        display: flex;
        gap: 8px;
    }

    // .tools__item
    &__item {
        transition: all 0.3s ease 0s;
        padding: 14px;
        flex-basis: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
            background-color: #fff;
        }

        img {
            transform: scale(1.1);
        }

        &:hover {
            background-color: #202225;
        }

        &:hover ul {
            background-color: #333;
            opacity: 1;
            visibility: visible;
            transform: translate(-25%, 0%);
        }
    }

    &__more {
        width: 5px;
        height: 5px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: -1px;
            width: 5px;
            aspect-ratio: 1 / 1;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
        }

        &::before {
            left: -10px;
        }

        &::after {
            left: 8px;
        }
    }
}

// ============ Test ============
